@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-hackingGreen font-Outfit;
}

.debug {
  border: 1px solid red;
}

* {

  /* @apply debug */
}

.navlinks button:hover {
  @apply border-b font-Outfit  shadow-xl border-hackingGreen;
}

.navlinks button {
  @apply cursor-pointer text-lg m-auto px-4  border-hackingGreen;
}

.heading {
  @apply text-3xl sm:text-5xl m-auto w-full sm:w-fit text-center font-extrabold;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-black opacity-20;

  border-radius: 10px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
  @apply bg-hackingGreen;
  border-radius: 10px;
}

input,
textarea {
  @apply outline-none bg-black text-hackingGreen border border-slate-600 rounded-xl px-6 py-3;
}

.blob {
  background-image: url(https://media.licdn.com/dms/image/D4D03AQG4UidxEKClLQ/profile-displayphoto-shrink_800_800/0/1709187779093?e=1714608000&v=beta&t=N-NuPyPHj1zW-KvV7lCaVTa3OcRYX5AcPeuE-LgR2Xg);

  background-size: cover;
  -webkit-background-position: center;
  background-position: center center;
  box-shadow: 0 5px 5px 5px rgba(13, 254, 0, 0.1);
  animation: animate 5s ease-in-out infinite;
  transition: all 5s ease-in-out;
}

@keyframes animate {

  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

.debug {
  @apply border border-red-800;
}

h1 {
  @apply sm:tracking-[6px] tracking-[4px] font-normal text-[18px] md:text-[22px] xl:text-[28px] 2xl:text-[32px] 3xl:text-[36px];
}

h2 {
  @apply tracking-widest font-normal text-[16px] md:text-[22px] xl:text-[24px] 2xl:text-[26px] 3xl:text-[32px];
}

h3 {
  @apply font-normal text-[14px] md:text-[18px] xl:text-[24px] 2xl:text-[22px] 3xl:text-[26px];
}

h4 {
  @apply tracking-widest font-normal text-[12px] md:text-[16px] xl:text-[20px] 3xl:text-[24px];
}

h5 {
  @apply tracking-widest font-normal text-[10px] md:text-[14px] xl:text-[18px] 3xl:text-[20px];
}

h6 {
  @apply tracking-widest font-normal text-[8px] md:text-[12px] xl:text-[16px] 3xl:text-[18px];
}

h7 {
  @apply text-xl font-normal text-[10px] md:text-xs xl:text-xs 3xl:text-sm;
}

.body0 {
  @apply text-base md:text-xl xl:text-[22px] 3xl:text-[1.5rem];
}

.body1 {
  @apply text-sm md:text-[22px] xl:text-[20px] 3xl:text-[26px] leading-relaxed;
}

.body2 {
  @apply text-[12px] md:text-[16px] xl:text-[20px] 3xl:text-[24px] tracking-wider leading-relaxed;
}

.body3 {
  @apply text-[12px] md:text-[14px] xl:text-[18px] 3xl:text-[20px];
}

.body4 {
  @apply text-[10px] md:text-[12px] xl:text-[14px] 3xl:text-[18px];
}

.body5 {
  @apply text-xs md:text-sm xl:text-base 3xl:text-[16px];
}